{% extends "base.html" %} 
{% block title %}投稿一覧{% endblock %} 
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/posts.css')}}" />
{% endblock %} 
{% block content %}
<a href="{{ url_for('profile_edit_view') }}">ユーザー情報の変更</a>

<div class="post-container">
    {# 投稿フォーム #}
	<div class="post-form">
		<form method="POST" action="{{ url_for('posts_process') }}" enctype=multipart/form-data>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<textarea name="content" rows="4" placeholder="今何してる？"></textarea>
			<input type="file" name="files[]" multiple />
			<button type="submit">投稿</button>
		</form>
	</div>

    {# 投稿list #}
	<div class="post-list">
		{% for post in posts %}
		<article class="post-card">
			<div class="post-meta">
				<a href="{{ url_for('profile_view', user_id=post.user_id) }}"><span class="post-user">{{
						post.user_name }}</span></a>
				<time class="post-time">{{ post.created_at }}</time>
			</div>
            
			<p class="post-body">{{ post.content }}</p>
            <div class="post-images">
                {% for media in post.medias %}
                    <img src="{{ url_for('static', filename='uploads/' + media.file_name) }}">
                {% endfor %}   
            </div>
			<a class="post-link" href="{{ url_for('posts_detail_view', post_id=post.id) }}">詳細</a>
             
	        {# いいねボタン試作 ここから #}
	        <form method="POST" action="{{ url_for('toggle_like', post_id=post.id) }}" style="display: inline">
		        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		        <input type="hidden" name="post_id" value="{{ post.id }}" />
		        <button type="submit" class="likeBtn">
                    {% if post.is_liked_by_me %}
                    <i class="fa-solid fa-heart"></i> いいね
                    {% else %}
                    <i class="fa-regular fa-heart"></i> いいね
                    {% endif %}
		        </button>
	        </form>
	        {# いいねボタン試作 ここまで #}
		</article>
	{% endfor %}
	<a href="{{ url_for('logout') }}">ログアウト</a>
</div>
<script src="{{ url_for('static', filename='js/like.js') }}"></script>

{% endblock %} 
	
