{% extends "base.html" %}
{% block title %}投稿詳細{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<div class="comment-container">

  <div class="post-card">
    {% if post %}
      <p class="post-body">{{ post['content'] }}</p>
    {% else %}
      <p class="post-body">(投稿データは未接続です)</p>
    {% endif %}

    <div class="post-images">
        {% for media in post['medias'] %}
            <img src="{{ url_for('static', filename='uploads/' + media['file_name']) }}">
        {% endfor %}
    </div>
    {# DEBUG: {{ post.keys() }} #}
    {# DEBUG: {{ post['medias'] }} #}
    <form method="POST" action="{{ url_for('toggle_like', post_id=post.id) }}" style="display: inline">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <button type="submit" class="likeBtn">
            {% if post.is_liked_by_me %}
            <i class="fa-solid fa-heart"></i> いいね
            {% else %}
            <i class="fa-regular fa-heart"></i> いいね
            {% endif %}
        </button>
    </form>
  </div>

  <div class="comment-form">
  {% if post %}
    <form method="POST" action="{{ url_for('create_comment', post_id=post['id']) }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <textarea name="content" rows="3" placeholder="コメントを書く"></textarea>
      <button type="submit">コメント</button>
    </form>
  {% else %}
    <p>※投稿が未接続のためコメントできません</p>
  {% endif %}
</div>

  <div class="comment-list">
    {% if comments %}
      {% for comment in comments %}
        <div class="comment">{{ comment['content'] }}</div>
      {% endfor %}
    {% else %}
      <p>コメントがありません</p>
    {% endif %}
    <form method="POST" action="{{ url_for('toggle_like', post_id=post.id) }}" style="display: inline">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <button type="submit" class="likeBtn">
            {% if post.is_liked_by_me %}
            <i class="fa-solid fa-heart"></i> いいね
            {% else %}
            <i class="fa-regular fa-heart"></i> いいね
            {% endif %}
        </button>
    </form>
  </div>

  <p><a class="btn" href="{{ url_for('posts_view') }}">←投稿一覧へ戻る</a></p>

</div>
<script src="{{ url_for('static', filename='js/like.js') }}"></script>
{% endblock %}

