{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">{% endblock %}
{% block content %}

<div class="page-auth">
  <div class="auth-wrapper">

    <h1 class="auth-page-title">Welcome</h1>

    <form class="auth-form" method="post" action="{{url_for('signin_process') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <!-- ===== フォームフィールド ===== -->
      <div>
        <input type="text" placeholder="メールアドレス" name="email" />
      </div>

      <div>
        <input type="password" placeholder="パスワード" name="password" />
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}


      <div class="auth-button-container">
        <button class="auth-button" type="submit">ログイン</button>
        <a class="switch-auth-mode" href="{{ url_for('signup_view')}}">
          新規登録はこちら
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}