
{# 必要ならflash表示を入れる #} 
{% extends "base.html" %} 
{% block title %}ログイン　|　入門SNS{% endblock%} 
{%block extra_css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}"/>
{% endblock %}

{% block content %}

<div class="auth-container">
    <h1 class="auth-title">Intro to SNS App Development</h1>

    <div class="button-group">
        <a class="btn" href="{{ url_for('signin_view') }}">Log in here</a>
        <a class="btn" href="{{ url_for('signup_view') }}">Sign up here</a>

    </div>
</div>
{% endblock%} 