<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
        {% block extra_css %}{% endblock%}
</head>
<body>
	{% include "common/header.html" %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flash">
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}

	{% include "common/footer.html" %}
</body>
</html>
