<header class="site-header">
    <div class="container">
        <h1 class="site-title">
            <a href="{{ url_for('top_view') }}">Intro to SNS</a>
        </h1>

        <nav>
          {% if session.get('user_id') %}
            <a href="{{ url_for('posts_view') }}">投稿</a>
            <a href="{{ url_for('logout') }}">ログアウト</a>
          {% else %}
            <a href="{{ url_for('signin_view') }}">ログイン</a>
            <a href="{{ url_for('signup_view') }}">新規登録</a>
          {% endif %}
        </nav>
    </div>
</header>
