.button-group {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.btn {
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 300%;
    border-radius: 50px;
    color: white;
    background: var(--accent);
    box-shadow: 4px 4px 2px rgb(28 19 19 / 30%);
    opacity: 0.7;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.btn:hover {
    background-color: rgba(193, 122, 7, 0.9);
    color: #ffffff;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #2c5ca8;
    transform: translateY(0);
}

.auth-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.auth-title {
    font-family: 'Kosugi Maru', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    color: #7c4c33;
    margin: 150px 0 400px 0;
    text-shadow: 4px 4px 2px rgb(28 19 19 / 30%);
    letter-spacing: 0.3em;
}


.page-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(167, 112, 4, 0.08);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 2px rgb(28 19 19 / 30%);
    padding: 0 20px;
    height: 600px;
    width: 100%;
    max-width: 500px;
    margin: 100px auto 20px auto;
}

.auth-wrapper {
    width: 100%;
    max-width: 420px;
}



.auth-page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    opacity: 0.7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}




.auth-form input {
    border: none;
    border-bottom: 1px solid #7c4c33;
    border-radius: 5px;
    padding: 14px 8px;
    background: transparent;
    outline: none;
    width: 100%;
}

.auth-form input:focus {
    border-bottom: 2px solid rgba(193, 122, 7, 0.9);
}

.auth-form input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-bottom: 60px;
    color: #fff;
    opacity: 0.7;
    font-size: 1.0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.auth-button-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.auth-button {
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-weight: 900;
    box-shadow: 3px 3px 1px 0px rgb(28 19 19 / 30%);;
    background: var(--accent);
    border-radius: 50px;
    color: #fff;
    opacity: 0.7;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 50px 0;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.auth-button:hover {
    background-color: rgba(193, 122, 7, 0.9);
    color: #ffffff;
    transform: translateY(-2px);
}


.switch-auth-mode {
    display: inline-block;
    font-size: 16px;
    color: #585a5d;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.switch-auth-mode:hover {
    color: rgba(193, 122, 7, 0.9);
    text-decoration: none;
    transform: translateY(-2px);
}




/* パスワード強度バー　*/

.pw-strength {
    margin-top: 8px;
    text-align: center;
}

.pw-bar-bg {
    display: inline-block;
    width: 150px;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.pw-bar {
    height: 100%;
    width: 0%;
    transition:
        width 0.3s ease,
        background-color 0.3s ease;
}

.pw-label {
    margin-top: 6px;
    font-size: 14px;
}

.error-message {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 4px;
    min-height: 18px;
    display: none;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .btn {
        width: 80%;
        font-size: 1rem;
    }
}