* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #c5fc46, #3F5EFB, #FC466B);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  position: relative;
}


.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #dae6f3;
}

header {
  background-color: transparent;
}

.header-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 50px 0 40px 0;
}

.header-container h1 a {
  font-size: 50px;
  text-align: center;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
  text-shadow: 2px 2px 2px #dae6f3;
}

.header-container h1 a:hover {
  color: #3f5eeb;
  text-decoration: none;
  transform: translateY(-2px);
}

footer {
  color: whitesmoke;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.0rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px;
  margin: 5px 0;
}

.flash {
    background: transparent;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    color: #e41818;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  header h1 {
    font-size: 3rem;
  }

  header nav a {
    display: block;
    margin: 5px 0;
  }
}