body {
	font-family: snas-serif;
	margin: 0;
	padding: 0;
}

header {
	background: #222;
	color: #fff;
	padding: 10px;
}

nav a {
	color: #fff;
	margin-right: 10px;
	text-decoration: none;
}

.flash {
	background: #fee;
	color: #900;
	padding: 10px;
	list-style: none;
}
